[defaults]
host_key_checking = False
inventory = x86-multi-region-inventory.yml
timeout = 30
gather_facts = True
forks = 10
roles_path = ../

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining = True